PORT=8003
MONGODB_URI=mongodb://mongo:27017/notifications_db
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=noreply@saga-orders.local
NODE_ENV=production
LOG_LEVEL=info
