APP_NAME=PaymentService
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://payment-service:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=payments_db
DB_USERNAME=payments_user
DB_PASSWORD=payments_pass

QUEUE_CONNECTION=rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin_password
RABBITMQ_VHOST=/

ORDER_SERVICE_URL=http://order-service:8000
