PORT=8003
MONGODB_URI=mongodb://mongodb:27017/payment_service
RABBITMQ_URL=amqp://rabbitmq:5672
RABBITMQ_EXCHANGE=saga.events
RABBITMQ_COMMANDS_EXCHANGE=saga.commands
RABBITMQ_PAYMENT_QUEUE=payment.commands
RABBITMQ_DLQ=payment.commands.dlq
JWT_SECRET=change_me_in_production_use_a_long_random_string
PAYMENT_SUCCESS_RATE=0.9
NODE_ENV=development
LOG_LEVEL=info
