APP_NAME="Inventory Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8003

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=inventory_service
DB_USERNAME=postgres
DB_PASSWORD=secret

# Cache / Session / Queue
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

# Redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# Keycloak
KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_REALM=saas-realm
KEYCLOAK_CLIENT_ID=inventory-service
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_TOKEN_CACHE_TTL=300

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=saas.events
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_CONNECTION_TIMEOUT=3.0
RABBITMQ_READ_WRITE_TIMEOUT=3.0
RABBITMQ_HEARTBEAT=60
RABBITMQ_KEEPALIVE=false

# Product Service
PRODUCT_SERVICE_URL=http://product-service:8002
PRODUCT_SERVICE_TIMEOUT=5

# Webhooks
WEBHOOK_TIMEOUT=10
WEBHOOK_RETRY_ATTEMPTS=3
