APP_NAME="User Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=user_service_db
DB_USERNAME=saas_user
DB_PASSWORD=secret

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=saas.events
RABBITMQ_QUEUE=user.events

KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_REALM=saas-realm
KEYCLOAK_CLIENT_ID=user-service
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_PUBLIC_KEY=

WEBHOOK_TIMEOUT=10
WEBHOOK_MAX_RETRIES=3

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@saas.local"
MAIL_FROM_NAME="${APP_NAME}"
